body,
html {
  max-width: 100%;
  width: 500px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  height: 100%;
  margin: auto;
}

/* Nav Styles */

nav {
  background-color: #28303b;
  width: 100%;
  box-sizing: border-box;
}

nav ul {
  list-style: none;
  margin: 0 auto;
  white-space: nowrap;
}

nav li {
  width: 24%;
  display: inline-block;
  padding-top: 10px;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav i {
  float: right;
  padding-right: 30px;
}

nav .active {
  border-top: solid #39a5a5;
}

nav .desktopLogo {
  display: none;
}

nav .desktopSearch {
  display: none;
}

/* Search Styles */

.search {
  background-color: #28303b;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 90% 10%;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 15px;
}

.search div.searchBar {
  background-color: #64667f;
  border-radius: 50px;
  width: 75%;
  justify-self: center;
  height: 35px;
  padding-left: 15px;
  box-sizing: border-box;
}

.search div.searchBar input {
  background-color: #64667f;
  border: none;
  height: 100%;
  width: 90%;
  border-radius: 50px;
  box-sizing: border-box;
  color: inherit;
  outline: none;
}

.search div:last-child {
  display: grid;
  align-items: center;
}

/* Main Section */

main {
  box-sizing: border-box;
  background-color: #28303b;
  margin: 0 auto;
  overflow-y: auto;
  padding-top: 10px;
  height: 77vh;
  padding-bottom: 10px;
}

main::-webkit-scrollbar {
  display: none;
}

main div.mainContainer {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.offline {
  grid-column-start: 1;
  grid-column-end: 6;
  font-weight: bold;
}

main img {
  width: 100%;
  height: 100px;
}

main p {
  margin: 0;
}

/* Now Playing Section */

.nowPlaying {
  background-color: #28303b;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  height: 80px;
  width: 100vw;
  max-width: 100%;
  width: 500px;
}

.nowPlayingContainer {
  display: grid;
  grid-template-columns: 100px auto auto;
}

.nowPlaying img {
  width: 80px;
  height: 80px;
}

.nowPlayingStatusIcon {
  text-align: center;
}

@media screen and (min-height: 900px) {
  .nowPlaying {
    position: relative;
  }
}

/* Podcast  Styles */

/* Header Styles */
.podcast li {
  padding-bottom: 10px;
}

/* Main Styles */
.mainPodcast {
  height: 86vh;
  padding-bottom: 0;
  overflow-y: auto;
}

main div.podcastContainer {
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: 100vw;
}

main .podcastArt {
  justify-items: center;
  display: grid;
  padding-bottom: 50px;
}

main .podcastArt img {
  height: 250px;
  width: 250px;
}

main .podcastTracks {
  border-top: thin solid black;
}

main .podcastTracks:last-child {
  border-bottom: thin solid black;
}

main .podcastTracksContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  width: 100vw;
  max-width: 100vw;
  padding-bottom: 15px;
  padding-top: 15px;
}

main .podcastTracksContainer div {
  padding-left: 10px;
  padding-right: 10px;
}

main .podcastTrackName {
  padding-bottom: 10px;
}

main .podcastTrackLength,
main .podcastTrackStatus {
  text-align: right;
}

/* Podcast podcastButtons Container */
.podcastButtonsContainer {
  margin-top: 15px;
}

.podcastButtonsContainer i {
  color: #272f3b;
}

.podcastButtonsContainer .subbed {
  color: white;
}

/* Search  Styles */

/* Search Container */
main .searchContainer {
  padding: 20px;
  border-top: thin solid black;
}

main .searchContainer:last-child {
  border-bottom: thin solid black;
}

main .searchPodcastName {
  font-weight: bold;
  margin-bottom: 10px;
}

main .searchContainer a {
  color: inherit;
  text-decoration: none;
}

.searchMain {
  height: 100%;
}

/*Subscribe Styles*/

/*Subscribe podCast */
.mainContainer .podCast a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-height: 900px) {
  html {
    padding-top: 20px;
    width: 100vw;
    background-image: url('/img/photo-1557683316-973673baf926.webp');
  }

  body {
    width: 90vw;
  }

  header {
    border-radius: 15px 15px 0 0;
  }

  /* Nav Styles */

  nav {
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 150px;
    font-weight: 900;
    border-radius: 15px 15px 0 0;
  }

  nav .desktopLogo {
    display: block;
  }

  nav .desktopSearch {
    display: grid;
    padding: 0;
    justify-self: center;
    align-self: center;
  }

  /* Search Syles */

  nav .search {
    background-color: white;
    border: black;
  }

  nav .desktopLogo {
    align-self: center;
    justify-self: center;
  }

  nav ul {
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
  }

  nav ul li {
    justify-self: center;
    align-self: center;
    padding: 0;
  }

  nav .search div.searchBar {
    background-color: white;
    border: black solid;
    grid-template-columns: 10% auto;
  }

  nav .search div.searchBar input {
    background-color: white;
  }

  nav .active {
    border-top: none;
  }

  .search {
    display: none;
  }

  main {
    background-color: white;
    border-radius: 0 0 15px 15px;
    display: grid;
    grid-template-columns: 30% auto;
    color: black;
  }

  main .nowPlaying {
    display: flex;
    flex-direction: column;

    height: 100%;
    background-color: white;
  }

  main .nowPlayingContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    justify-content: center;
  }

  main .nowPlayingArt {
    justify-content: center;
    display: inherit;
  }

  main .nowPlaying img {
    width: 300px;
    height: 300px;
  }

  main .fa-play {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  main .nowPlayingText {
    text-align: center;
  }

  main .nowPlayingStatus {
    display: none;
  }

  .nowPlaying {
    display: none;
  }
}
